@import url('https://fonts.google.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card
{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: linear-gradient(135deg,#d41e31,#491f8f);
}
.card img
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card:hover img
{
    left: 80%;
    height: 500px;
}
.card .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card:hover .content
{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.card .content h2
{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}
.card .content a
{
    position: relative;
    display: inline-block;
    color: #111111;
    padding: 10px 20px;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
    background: #ffffff;
    margin-top: 10px;
    text-decoration: none;
}
@media (max-width: 991px)
{
    .card
    {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        align-items: flex-start;
    }
    .card:hover
    {
        height: 600px;
    }
    .card:hover img
    {
        left: 50%;
        height: 350px;
    }
    .card .content
    {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media (max-width: 420px)
{
    .card .content
    {
        padding: 30px;
    }
    .card:hover img
    {
        height: 30opx;
    }
}