/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(rgba(40, 212, 255, 0.897),#fff);
}
.payment{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 40px;
}
.payment .bg{
   position: absolute;
   bottom: 0;
   height: 70%;
   width: 100%;
   background: linear-gradient(225deg, #2196f3, #ff4efd);
   /* 25px */
   border-radius: 18px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   -ms-border-radius: 18px;
   -o-border-radius: 18px;
}
.payment .card{
   position: relative;
   width: 580px;
   height: 350px;
   background: #fcfcfc;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   padding: 40px;
   box-shadow: 6px 6px 12px rgba(0,0,0,0.05);
   z-index: 1000;
   overflow: hidden;
}
.payment .card::before{
   content: '';
   position: absolute;
   height: 500px;
   width: 500px;
   top: -50%;
   left: -20%;
   background: linear-gradient(to bottom, rgba(0,0,0,0.05), transparent);
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
.chip{
   position: absolute;
   max-width: 70px;
}
.logo{
   position: absolute;
   background: #ea222c;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   top: 130px;
   right: 40px;
   box-shadow: -40px 0 0 rgba(255,164,36,0.5);
}